<%- include('partiel/head', { title: "blog" }) %>
<meta name="description" content="   ">
<% if (process.env.NODE_ENV === 'production') { %>
    <script type="module" src="/dist/main.js"></script>
<% } else { %>
    <script type="module" src="http://localhost:5000/@vite/client"></script>
<% } %>
</head>

<body>
    <%- include('partiel/header') %>
    <main id="content-page">
        <section class="barner-short">
            <div class="container">
                    <h1>Apply & Enroll
                    </h1>
            </div>
            <img src="images/slider-bottom-pattern.png" alt="pattern">
        </section>


</body>
</html>
    