<%- include('partiel/head', { title: "cours" }) %>
<meta name="description" content="   ">
<script defer src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <link rel="stylesheet" media="print" onload="this.media='all'" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">
    <script src="/js/carrousel-seting.js" defer></script>
</head>

<body>
    <%- include('partiel/header') %>
    <main id="content-page">
        <section class="barner-short">
            <div class="container">
                    <h1>Our courses
                    </h1>
            </div>
            <img src="images/slider-bottom-pattern.png" alt="pattern">
        </section>
        <div>
            <div class="elem-course">
                
                <div>
                    <div class="container">
                    <div class="elem-course-course element-appears">
                        <div class="in-person-training">
                            <p>In-person training</p>
                            <div class="cours-list">
                                <div class="cours" >
                                    <div class="img-view">
                                        <img src="/images/image-place-holder.avif" alt="Computerised" />
                                    </div>
                                    <h2>Computerised Accounting and Management</h2>
                                    <p>Unlock the power of modern accounting! Learn how to manage financial data...</p>
                                    <div class="cours-btns">
                                        <button onclick="showCourseDetails(1)">Learn more</button>
                                        <a>Apply now</a>
                                    </div>
                                </div>
                                <div class="cours" >
                                    <div class="img-view">
                                        <img src="/images/webdev.avif" alt="webdev" />
                                    </div>
                                    <h2>Webmaster / Web Developer</h2>
                                    <p>Transform your web development skills into a career! Learn to design and build responsive websites...</p>
                                    <div class="cours-btns">
                                        <button onclick="showCourseDetails(2)">Learn more</button>
                                        <a>Apply now</a>
                                    </div>
                                </div>
                                <div class="cours" >
                                    <div class="img-view">
                                        <img src="/images/image-place-holder (5).avif" alt="webdev" />
                                    </div>
                                    <h2>Computer Maintenance</h2>
                                    <p>Master the art of computer maintenance! From troubleshooting hardware issues to optimizing software...</p>
                                    <div class="cours-btns">
                                        <button onclick="showCourseDetails(3)">Learn more</button>
                                        <a>Apply now</a>
                                    </div>
                                </div>
                                <div class="cours" >
                                    <div class="img-view">
                                        <img src="/images/hairdressing.avif" alt="webdev" />
                                    </div>
                                    <h2>Professional Hairdresser</h2>
                                    <p>Unleash your creativity in the beauty industry! This course will teach you advanced hairdressing techniques...</p>
                                    <div class="cours-btns">
                                        <button onclick="showCourseDetails(4)">Learn more</button>
                                        <a>Apply now</a>
                                    </div>
                                </div>
                                <div class="cours" >
                                    <div class="img-view">
                                        <img src="/images/beauty-care.avif" alt="webdev" />
                                    </div>
                                    <h2>Beauty Care / Cosmetology</h2>
                                    <p>Become an expert in skincare and beauty treatments! Learn the essentials of cosmetology, including... care.</p>
                                    <div class="cours-btns">
                                        <button onclick="showCourseDetails(5)">Learn more</button>
                                        <a>Apply now</a>
                                    </div>
                                </div>
                                <div class="cours" >
                                    <div class="img-view">
                                        <img src="/images/secretariat.avif" alt="webdev" />
                                    </div>
                                    <h2>Office Automation Secretaryship</h2>
                                    <p>Enhance your administrative skills! Learn the latest office automation tools and techniques that will...</p>
                                    <div class="cours-btns">
                                        <button onclick="showCourseDetails(6)">Learn more</button>
                                        <a>Apply now</a>
                                    </div>
                                </div>
                                <div class="cours" >
                                    <div class="img-view">
                                        <img src="/images/accounting-secretariat.avif" alt="webdev" />
                                    </div>
                                    <h2>Accounting Secretaryship</h2>
                                    <p>Step into the world of accounting with a professional edge! This course will teach you how...</p>
                                    <div class="cours-btns">
                                        <button onclick="showCourseDetails(7)">Learn more</button>
                                        <a>Apply now</a>
                                    </div>
                                </div>
                                <div class="cours" >
                                    <div class="img-view">
                                        <img src="/images/image-place-holder (3).avif" alt="webdev" />
                                    </div>
                                    <h2>English Language for IELTS</h2>
                                    <p>Prepare for your IELTS exam with confidence! Improve your reading, writing, speaking, and listening ...</p>
                                    <div class="cours-btns">
                                        <button onclick="showCourseDetails(8)">Learn more</button>
                                        <a>Apply now</a>
                                    </div>
                                </div>
                                <div class="cours" >
                                    <div class="img-view">
                                        <img src="/images/image-place-holder (4).avif" alt="webdev" />
                                    </div>
                                    <h2>Fashion Designing and Sewing</h2>
                                    <p>Bring your fashion ideas to life! Learn the fundamentals of fashion design and sewing techniques...</p>
                                    <div class="cours-btns">
                                        <button onclick="showCourseDetails(9)">Learn more</button>
                                        <a>Apply now</a>
                                    </div>
                                </div>
                                <div class="cours" >
                                    <div class="img-view">
                                        <img src="/images/restaurant.avif" alt="webdev" />
                                    </div>
                                    <h2>Hotel Management - Kitchen - Bar - Restaurant</h2>
                                    <p>Start a career in the hospitality industry! Learn the ins and outs of hotel and restaurant management...</p>
                                    <div class="cours-btns">
                                        <button onclick="showCourseDetails(10)">Learn more</button>
                                        <a>Apply now</a>
                                    </div>
                                </div>
                                <div class="cours" >
                                    <div class="img-view">
                                        <img src="/images/image-place-holder (2).avif" alt="webdev" />
                                    </div>
                                    <h2>Digital Marketing</h2>
                                    <p>Become a master of digital marketing! From social media management to SEO, content creation, and data...</p>
                                    <div class="cours-btns">
                                        <button onclick="showCourseDetails(11)">Learn more</button>
                                        <a>Apply now</a>
                                    </div>
                                </div>
                                
                            </div>
                    
                            <div id="course-details" class="details">
                                <section class="barner-short">
                                    <div class="container">
                                        <h2 id="course-title">details du cours</h2>
                                    </div>
                                    <img src="/images/slider-bottom-pattern.png" alt="pattern">
                                </section>
                                <!-- <button id="close-details" onclick="closeCourseDetails()">Fermer</button> -->
                                 <div class='detail-content'>
                    
                                    <div>
                                        <p>Description</p>
                                        <p id="course-description"></p>
                                    </div>
                                    <div>
                                        <p>Duration</p>
                                        <p id="course-duration"></p>
                                    </div>
                                    <div>
                                        <p>Certification</p>
                                        <p id="course-certification"></p>
                                    </div>
                                    <div>
                                        <p>Requirements</p>
                                        <p id="course-requirements"></p>
                                    </div>
                                    <a href="" >Apply now</a>
                                    
                                    <div id="course-navigation">
                                        <button id="prev" onclick="changeCourse('prev')"><< Previous course</button>
                                        <button id="back" onclick="backToList()">Go Back</button>
                                        <button id="next" onclick="changeCourse('next')">Next course >></button>
                                    </div>
                                 </div>
                                
                            </div>
                        </div>
                        
                    </div>
                    </div>
                </div>
            </div>
        </div>
    
        
    </main>
    <%- include('partiel/pageLoader') %>
    <script>
        let elem_course_course = document.querySelector(".elem-course-course")
        const elem_course_nav = document.querySelectorAll(".elem-course nav li")
         elem_course_nav?.forEach((el, index) => {
                                el.addEventListener("click", () => {
                                    elem_course_nav.forEach(element => {
                                        element.classList.remove("active")
                                        
                                    })
                                    el.classList.add("active")
                                    
                                    
                                   
                                    
                                })
                            })
    </script>
     <%- include('partiel/buttonLoader') %>
<script>
    document.addEventListener('DOMContentLoaded', function () {
    let splide_nav = new Splide('#my-carousel-nav', {
        type       : 'loop',  
        gap        : '0rem',   
        autoplay   : false,       
        pauseOnHover: true,       
        drag       : 'free',      
        perPage    : 3,
        breakpoints: {
            850: {
                perPage: 2,    
            },
            600: {
                perPage: 1,    
            },
        },
    });
    splide_nav.mount();
});

</script>
</body>
</html>
