<%- include('partiel/head',{title:"Home"}) %>
    <meta name="description" content="   ">

    </head>

    <body>
        <%- include('partiel/header') %>
        <div class="container">


           
        </div>
    </body>

    </html>