<%- include('partiel/head',{title:"Home"}) %>
    <meta name="description" content="   ">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css">

    </head>

    <body>
        <%- include('partiel/header') %>
        <div class="container">


           
        </div>
    </body>

    </html>