<%- include('partiel/head',{title:"Home"}) %>
    <meta name="description" content="   ">

    </head>

    <body>
        <%- include('partiel/header') %>
        <main>
            <section class="barner">
                
            </section>
        </main>
        <div class="container">


           
        </div>



        <%- include('partiel/loader') %>
    </body>

    </html>