<%- include('partiel/head',{title:"Home"}) %>
<meta name="description" content="localiser un numero ou une personne a l'aide d'un nunero de telephone">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css">

    </head>

    <body>
        <li class="auth">
            <% if (typeof data !=='undefined' && typeof data !=="null" && data.role=="user" ) { %>
                <a href="/profile"><img src="<%= data.profilePicture %>" alt="profile picture">
                    Profile</a>
                <% } else if (typeof data !=='undefined' && typeof data !=="null" && data.role=="admin"
                    ) { %>
                    <a href="/dashboard"><img src="<%= data.profilePicture %>"alt="profile picture">dashboard</a>

                    <% } else { %>
                        <a href="login">SE CONNECTER</a>

                        <% } %>
        </li>
</body>

 </html>