<%- include('partiel/head',{title:"Home"}) %>
    <meta name="description" content="   ">

    </head>

    <body>
        <%- include('partiel/header') %>
            <main class="home-main">
                <section class="barner">
                    <div class="container">
                        <div>
                            <h1>Commencez à apprendre et à acquérir de nouvelles compétences pour un avenir meilleur
                            </h1>
                            <p>Avec l'aide de l'apprentissage en ligne, créez votre propre parcours et développez vos
                                compétences par vous-même pour atteindre ce que vous recherchez.</p>
                            <div>
                                <a href="">Voir tous les cours</a>
                            </div>
                        </div>
                        <img src="images/banner.png" alt="barner">
                    </div>
                    <img src="images/slider-bottom-pattern.png" alt="pattern">

                </section>
                <section class="choose">
                    <div class="container">

                   
                    <div class="intro-title">
                        <h2>Pourquoi choisir l'apprentissage en ligne</h2>
                        <p>Regardez-vous en vous-même, sachez que vous êtes ambitieux  et continuez d’avancer jusqu’à ce que <br> vous obteniez quelque chose en retour comme accomplissement.</p>
                    </div>
                    <div class="allAvantage">
                        <div>
                            <div class="icon">
                                <i class="bi bi-postcard-fill"></i>
                            </div>
                            <div>
                                <h3>Accessibilité des cours</h3>
                                <p>Sélectionnez un cours adapté parmi la vaste gamme d’autres cours et accédez-y à tout moment et de n’importe où.</p>
                            </div>

                        </div>
                        <div>
                            <div class="icon">
                                <i class="bi bi-mortarboard-fill"></i>
                            </div>
                            <div>
                                <h3>Bourses d'études</h3>
                                <p>Pour encourager le talent, nous accordons jusqu'à 100 % d'aide aux jeunes apprenants qui ont la capacité de faire quelque chose.</p>
                            </div>

                        </div>
                        <div>
                            <div class="icon">
                                <i class="bi bi-globe2"></i>                            </div>
                            <div>
                                <h3>Apprentissage pratique</h3>
                                <p>Interagissez avec le monde réel tout en réalisant le projet du monde réel et d'autres choses pour maîtriser vos compétences.</p>
                            </div>

                        </div>
                        <div>
                            <div class="icon">
                                <i class="bi bi-person-fill"></i>                            </div>
                            <div>
                                <h3>Instructions d’expert </h3>
                                <p>Saisissez l’opportunité d’apprendre auprès d’experts du secteur et apprenez à exécuter des tâches similaires.</p>
                            </div>

                        </div>
                        <div>
                            <div class="icon">
                                <i class="bi bi-headphones"></i>    
                                </div>                       
                                 <div>
                                <h3>Planifiez votre apprentissage</h3>
                                <p>Apprenez quand vous le souhaitez, à l'heure et à l'endroit qui vous conviennent. Obtenez un diplôme d'études à temps partiel.</p>
                            </div>

                        </div>
                        <div>
                            <div class="icon">
                                <i class="bi bi-person-arms-up"></i>                                                </div>
                            <div>
                                <h3>Séances enregistrées</h3>
                                <p>Vous avez manqué le cours en direct ? Ne vous inquiétez pas, vous avez accès à toutes les séances du cours choisi.</p>
                            </div>

                        </div>
                    </div>
                </div>
                </section>
            </main>
            <div class="container">


            </div>



            <%- include('partiel/loader') %>
    </body>

    </html>