<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <% if (typeof data !=='undefined' && typeof data !== null) { %>
        <img src="<%= data.profilePicture || "" %>" alt="">
     
    <% } %>
    
    <%- include('partiel/disconnect_logout') %>
    <%- include('partiel/js') %>
</body>

</html>