<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main id="content-page">
    <form action="" method="post">
        <p>
            <% if (typeof error !=="undefined") { %>
              <%= error %>
            <% } %>
            <% if (typeof message !=='undefined' ) { %>
         <%= message %>
                <% } %>
        

        </p>
        <label for="email">Entrer votre address email</label>
        <input type="email" name="email" id="email">
        <input type="submit" value="verifier">
    </form>
    </main>
    <%- include('../partiel/pageLoader') %>

</body>
</html>