<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main id="content-page">
    <form action="" method="post">
        <% if (typeof message !=='undefined' && message !==null && message.success ) { %>
            <div class="new-sucess disapied">
                <p >
                <i class="bi bi-check-circle"></i>
                <%= message.success %>
                </p>
                <i class="bi bi-x"></i>
            </div>
                <% } %>
                <% if (typeof message !=='undefined' && message.error ) { %>
                    <div class="new-error disapied">
                        <p>
                            <i class="bi bi-exclamation-triangle"></i>
                        <%= message.error %>
                        </p>
                        <i class="bi bi-x"></i>
                    </div>
                        <% } %>
        <label for="email">Entrer votre address email</label>
        <input type="email" name="email" id="email">
        <input type="submit" value="verifier">
    </form>
    </main>
    <%- include('../partiel/pageLoader') %>

</body>
</html>