
<section id="Adminprofile">

    <form action="/logout" method="get">
        <button  class="logout" type="submit">logout <i class="bi bi-box-arrow-right"></i></button>
  
    </form>
    
    <button class="supp"><i class="bi bi-person-fill-dash"></i>  supprimer le compte</button>
    <div class="popup">

        <div class="bloc">
            <p style="color: white;">êtes vous sûr de vouloir supprimer votre compte ? cette action sera irreversible</p>
            <div>
        
                <button class="annuler">Annuler</button>
                <form action="/Delete-account?_method=DELETE" method="post">
                    <input type="submit" class="delUsersSubmit" value="supprimer">
                </form>
            </div>
        </div>
    </div>

</section>    
