<header>
    <div>

    </div>
    <div>
        <p class="logo">E-Learning</p>
        <a href="">
            <div>
                <p>

                </p>
                <div>
                    <span>Call</span>
                    <span></span>
                </div>
            </div>
        </a>
        <a href="">
            <div>
                <p>

                </p>
                <div>
                    <span>Email</span>
                    <span></span>

                </div>
            </div>
        </a>
        <a href="">
            <div>
                <p>

                </p>
                <div>
                    <span>Adress</span>
                    <span></span>

                </div>
            </div>
        </a>
    </div>
    <ul class="auth">
        <% if (typeof data !=='undefined' && data !=="null" && data.role==="user" ) { %>
          <div>
            <li><a href="">Home</a></li>
            <li><a href="">Courses</a></li>
            <li><a href="">Event</a></li>
            <li><a href="">Teachers</a></li>
            <li><a href="">Princing</a></li>
            <li><a href="">BLog</a></li>
            <li><a href="">Contact</a></li>
            <li>
                <a href="/become-teacher">Enseigner sur Maneliza Global </a>
            </li>
          </div>
            
            <li>
                <a href="/profile"><img src="<%= data.profilePicture %>" alt="profile picture">
                    Profile</a>
            </li>
            <% } else if (typeof data !=='undefined' && data !=="null" && data.role==="admin" ) { %>
                <li>
                    <a href="/dashboard"><img src="<%= data.profilePicture %>" alt="profile picture">dashboard</a>
                </li>
                <% } else if (typeof data !=='undefined' && data !=="null" && data.role==="professeur" ) { %>
                    <% if (data.approved) { %>
                        <li>
                            <a href="/upload-course">
                                <button <%=data.approved !=='no' && data.approved !=='wait' ?"" :"disabled"%> >
                                    + publier un cours
                                </button>
                            </a>

                        </li>
                        <% } %>


                            <li>
                                <a href="/profile"><img src="<%= data.profilePicture %>" alt="profile picture">
                                    Profile</a>
                            </li>
                            <% } else { %>
                                <li>
                                    <a href="login">SE CONNECTER / S'INSCRIRE</a>
                                </li>

                                <% } %>
    </ul>
</header>