
<div id="loaderPage">
    <div class="spinnerPage"></div>
<div class="contentPage">
    <p style="color: rgb(0, 15, 61);">VTC-<span style="color:#005a28 ;">MG</span></p>
    </div>
</div>

</div>
<script>
    window.addEventListener("load", function() {
    const loader = document.getElementById("loaderPage");
    const content = document.getElementById("content-page");
    loader.style.display = "none";
    content.style.display = "block";
});
</script>