*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-sidebar : rgb(6, 12, 15);
    --hover-items-sidebar : rgb(7, 17, 36);
    --color-hover:white;
    --color-no-hover : rgb(120, 134, 157);
    --font-roboto : "Roboto", sans-serif ;
}
body{
    display: flex;
    font-family:  var(--font-roboto);

}
aside{
    background-color: black;
    height: 100vh;
    width: 20%;
    padding: 20px;
    color: var(--color-no-hover);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 4px solid rgb(195, 195, 195);

}
aside ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-top: 2px solid rgb(43, 43, 43);
    padding-top: 10px;
    border-radius: 5px;
}
aside ul li{
    list-style: none;
    padding: 10px;
    font-size: 19px;
    display: flex;
    align-items: center;
    gap: 10px;
}
aside ul li i{
    font-size: 21px;

}
aside ul li:hover{
    background-color:rgb(23, 23, 23);
    transition: .4s ease;}
aside ul li a {
    text-decoration: none;
    color: var(--color-no-hover);
}
aside ul li:hover a{
    color: white;
    transition: .4s ease;
}
aside ul li:hover i{
    color: white;
    transition: .4s ease;
}
.profil,.profil div:first-child{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-hover);
    justify-content: space-between;
}
.profil:hover{
  background-color: rgb(23, 23, 23);
  transition: .4s ease;
}
.profil{
    padding: 9px;
    border-radius: 5px;

}
.profil img{
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
}
.title{
    color: var(--color-hover);
    font-size: 25px;
    padding-top: 10px;
}
.img-loader{
    background-color: rgb(82, 82, 82);
    animation: imgLoader 3s ease infinite;
}
@keyframes imgLoader {
    0%{
        background-color:  rgb(82, 82, 82);
        
    }
    100%{
        background-color:  rgb(200, 200, 200);
    }
}
main{
    background-color: rgb(238, 238, 238);
    width: 100%;
    padding: 50px;

}
.block{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin-top: 50px;
}
.element{
box-shadow: 0px 0px 2px rgb(205, 205, 205);
width: 100%;
background-color: rgb(252, 252, 252);
border-radius: 5px;
padding: 20px;
display: flex;
justify-content: space-between;
align-items: center;
}
.element div:first-child div{
    display: flex;
    margin-top: 10px;
    align-items: center;
    gap: 10px;
}
.element div:first-child div p{
    font-size: 19px;
    font-weight: 500;
}
.element div:first-child div span{
    background-color: rgba(0, 255, 0, 0.169);
    color: rgb(0, 148, 0);
    padding: 1px 2px;
    border-radius: 4px;
    font-size: 12px;
}
.name_elem{
text-transform: uppercase;
font-size: 13px;
color: grey;
}
.element>p{
    font-size: 50px;
    color: gainsboro;
}
