*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
        

}
:root{
    --bg-color:#0f2445;
    --primary-color:rgb(96, 250, 132);
    --padding-bl-color:#f4f5f7;
    --terce-color:rgb(133, 133, 133);
    --quatro-color:rgb(219, 219, 219) ;
    --link-hover:#208052;
    --font-roboto : "Roboto", sans-serif ;
    --green-hover :#1ca965;
    --bg-hover :#163568;
    

}



body{
    font-family:  var(--font-roboto);
}
.img-loader{
    background-color: #dadada;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container-widht-anim {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;

}

@keyframes pulse {
    0%,100% { opacity: 1; }
    50% { opacity: .5; }
}

.flex-box-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-box-squares{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a{
    text-decoration: none;
    color: inherit;
}
.link-hover:hover{
 color: var(--primary-color);
 transition: .4s ease;
}
.menu-hambuger{
    display: none;
    width: 32px;
}
.menu-hambuger span:first-child{
    width: 14px;
    height: 2px;
}
.menu-hambuger span:nth-child(2){
    width: 24px;
    height: 2px;
}
.menu-hambuger span:nth-child(3){
    width: 32px;
    height: 2px;
}
.menu-hambuger span{
    background-color: #163568;
    
    
}
.menu-hambuger:hover span{
    width: 100%;
    background-color:#1ca965;
    transition: .5s ease;
}
.infos-general p{
 font-size: 25px;
 color: #163568;
 font-weight: bold;
 text-transform: uppercase;
}
.infos-general hr{
    border: 2px solid var(--link-hover);
    margin-block: 20px;
    border-radius: 10px;
}
.link-hover-sm:hover{
 color: var(--link-hover);
 transition: .4s ease;
}
header{
    background-color: var(--bg-color);
}
header>div:first-child{
    color: white;
    padding-block: 15px;
    font-size: 17px;
    padding-inline: 160px;

}
header>div:first-child div{
  gap: 15px;
}
header>div:nth-child(2)>div:first-child{
    padding-inline: 160px;
    padding-block: 15px;
    background-color: white;
}
header>div:nth-child(2)>div:first-child>div{
    gap: 30px;
}
header>div:nth-child(2)>div:first-child div a{
 display: flex;
 align-items: center;
 gap: 20px;
 overflow: hidden;
 color: var(--bg-color);
}
header>div:nth-child(2)>div:first-child div a i{
    font-size: 20px;
    padding-inline: 15px;
    padding-block: 15px;
    background-color: var(--padding-bl-color);
    border: 1px solid #eeeeee ;

}
   
header>div:nth-child(2)>div:first-child div a div{
 display: flex;
 flex-direction: column;
 gap: 5px;
}
.sm{
    color: var(--terce-color);
    font-size: 15px;
}
header>div:nth-child(2)>div:first-child div a div span:not(.sm){
    font-weight: 600;
    font-size: 18px;

}
.container{
    padding-inline: 160px;
}
.menu{
padding-inline: 160px;
  background-color: var(--padding-bl-color);  
  color: var(--bg-color);
  text-transform: uppercase;
  font-weight: 600;
}
.menu ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 15px;
    padding-block: 18px;
}
.menu ul a:hover{
    color: var(--link-hover);
    transition: .4s ease;
   
}
.menu-login{
    padding: 20px;
    background-color: var(--link-hover);
    color: white;
}
.profil-log img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.profil-log .img-loader{
    width: 50px;
    height: 50px;
    border-radius: 50%; 
}
.profil-log,.profil-log .profile,.profil-log .profile a{
    display: flex;
    align-items:center ;
}
.profil-log{
    gap: 20px;
}
.profil-log .profile{
    padding-block: 4px;
}
.profil-log .profile a{
    gap: 10px;
    font-size: 13px;

}
.uoload-course button{
    cursor: pointer;
   border:none;
 background-color: var(--green-hover);
 color: white;
 font-size: 17px;
 padding: 20px 10px;
 font-weight: 400;
}
.user-view{
display:flex
}

.teach{
    font-size: 15px;
}
.logo img{
    width: 130px;
    height: 70px;
    object-fit: cover;
}

/*login et register page*/

.login{
    display: flex;
}
.img-bl{
    height: 100vh;
    width: 45%;
    overflow: hidden;
    border-right:5px solid #1fff8f;
}
.img-bl img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}
.form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 55%;
    padding-inline: 100px;
}
.form form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}
.form form input::placeholder{
    font-size: 15px;
}
.form form input,.form form button{
    width: 100%;
    padding-block: 13px;
    padding-inline: 15px;
    font-size: 18px;
    outline: none;
    border-radius: 7px;
    
}
.form form>div:not(.new-error) {
display: flex;
flex-direction: column;
gap: 10px;
font-weight: 600;
color: #0f2445;
}
.form form .new-error{
    color: black;
    font-size: 15px;
} 
.form form input{
   border: solid 1px var(--quatro-color);
}
.form form button[type="submit"]{
   border:none;
   background-color: #208052;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
}
.submit[disabled]{
cursor: not-allowed;
}
.submit[disabled]:hover{
    background-color: #208052;
}
.submit img{
 animation: spinner 1s linear infinite ;
 filter: brightness(5);
}
@keyframes spinner {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.form form button[type="submit"]:hover{
    background-color: var(--green-hover);
    transition: .5s ease;
}
.login-logo-connect{
flex-direction: column;
}
.login-logo-connect img{
    width: 130px;
}
.login-logo-connect p{
    margin-bottom: 20px;
    color: var(--terce-color);
}
.auth-google:hover{
    background-color: var(--bg-hover);
    transition: .4s ease;

}
.auth-google{
   background-color: #0f2445;
   padding-block: 17px;
   border-radius: 7px;
   
   
}
.auth-google a{
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
}
.or{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: var(--terce-color);
}
.input-pass-eyex{
    position: relative;
}
.eyes{
position: absolute;
right: 5%;
top: 50%;
transform: translateY(-50%);
}
.eyes i{
    font-size: 20px;
    color: var(--terce-color);
    cursor: pointer;
}
.err-forget{
    margin-top: 0.5rem;

}
.err-forget div a{
    color: var(--bg-color);
    font-size:15px;
    text-decoration: none;
}
.err-message{
    color: rgb(217, 0, 0);
    font-weight: lighter;
    font-size: 15px;
}
.not-regis{
text-align: center;
color: var(--terce-color);
}
.not-regis a{
    font-weight: bold;
    color: #0f2445;
    text-decoration: solid;
    text-decoration: none;
}
.not-regis a:hover{
    color: var(--bg-hover);
    transition: .4s ease;


}

/* verification de l'email*/
.new-error,.new-sucess{
    display: flex;
    justify-content: space-between;
    padding: 10px 8px;
    margin-bottom: 30px;
    align-items: center;
    color: black;
}
.new-sucess{
    background-color: rgb(176, 255, 186);
    border-left: 6px solid rgb(0, 215, 0);
}

.new-error{
    background-color: rgb(255, 197, 197);
    border-left: 6px solid rgb(226, 0, 0);

}
.new-error p i{
    color: red;
    margin-right: 7px;

}
.new-sucess p i{
    color: rgb(0, 178, 36);
    margin-right: 7px;
}
.bi-x{
font-size: 25px;
color: var(--bg-color);
}
.send-mail h1{
color: #0f2445;
margin-bottom: 20px;

}
.send-mail h1 span{
    font-size: 15px;
    color:#1ca965
}
.send-mail {
    margin-top: 20px;
}
.condition{
    font-size: 12px;
    text-align: center;
    line-height: 19px;
    color: var(--terce-color);
}
.condition a{
    color: #1ca965;
}



/*upload course */


.bg-uplad{
    position:relative

}
.bg-uplad{
    background:linear-gradient(rgba(0, 0, 0, 0.46),rgba(0, 0, 0, 0.46)),url(../images/postpage.webp);
    background-attachment: fixed;
    width: 100%;
    height: 38vh;
    
}
.bg-uplad div{
    border: 2px solid white;
    position:absolute;
    top:50%;
    left:20%;
    transform: translateY(-50%);
    padding: 20px;
    
}
.bg-uplad p{
    font-size: 40px;
    color: white;
}

.upload-image .cloud-logo{
width: 150px;
}
.upload-image button,.previewPicture button{
    outline: none;
    background-color: #1ca965;
    padding: 15px 60px;
    margin-top: 20px;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
}
.image-bl-preview{
    border: dashed 3px rgb(229, 229, 229);
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}
.img-uploader,#previewImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.upload-course{
    margin-top: 70px;
}
#form_course{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
}
#form_course label,.updatePofil  label{
    display: block;
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #0f2445;
}

#form_course input,.updatePofil input{
    width: 100%;
    outline: none;
    padding-block: 15px;
    font-size: 18px;
    padding-inline: 13px;
    border-radius: 10px;
    border: rgb(225, 225, 225) 2px solid;

}
#form_course .finasubmit{
    grid-column:span 2;
}

.custom-select-container {
    position: relative;
    display: inline-block;
    width: 100%;
    
  }
  
  .custom-select-container select {
    width: 100%;
    padding: 15px;
    padding-right: 20px; /* Espace pour l'icône */
    border: 2px solid rgb(225, 225, 225);
    border-radius: 8px;
    background-color: white;
    appearance: none; /* Enlever la flèche par défaut */
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 18px;
    cursor: pointer;
    color: var(--bg-color);
    outline: none;
    
  }
.ck-editor__editable{
    height: 250px;
  }
  /* Position de l'icône */
  .custom-select-container i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Pour éviter que l'icône ne bloque le clic sur le select */
    font-size: 20px;
    color: var(--bg-hover);
    
  }
  select option {
    background-color: white;
    color: black;
    font-size: 16px;
  }

  #form_course  .submit,.updatePofil #submit{
    padding-block: 13px;
    padding-inline: 145px;
    font-size: 18px;
    outline: none;
    border-radius: 7px;
    margin-top: 30px;
   
}
#form_course .submit,.updatePofil #submit{
    border:none;
    background-color: #208052;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
 }
 /* profile style */
.profile-bl-user .container{
    font-family: "Poppins", sans-serif;
  font-style: normal;
display: flex;
flex-direction: column;
gap: 10px;
 }
 .profile-view-infos{
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgb(225, 225, 225);

 }
 .marge{
    margin-top: 40px;
 }
 .profile-view-infos>div:first-child{

padding: 100px;
background-color: #163568;

border-radius: 10px;
 }
 .profile-view-infos>div:first-child img{
    position: absolute;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    object-fit: cover;
    top: 70px;
    left: 45px;
    border: solid 3px var(--green-hover);
 }
 .profile-view-infos>div:first-child i{
    position: absolute;
    color: white;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--link-hover);
    left: 60px;
    top: 100px;
    cursor: pointer;
 }
 .profile-view-infos>div:nth-of-type(2){
    margin-top: 30px;
    margin: 40px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;

 }
 .profile-view-infos>div:nth-of-type(2)>div>p:first-child{
    font-size: 25px;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-weight: bold;
    color: #163568;
    display: flex;
    align-items: center;
    gap: 10px;
 }
 .profile-view-infos>div:nth-of-type(2)>div{
    display: flex;
    flex-direction: column;
    gap: 20px;
 }
 .profile-view-infos>div:nth-of-type(2) a{
    padding: 15px;
    text-decoration: none;
    background-color: #1ca965;
    color: white;
 }
 .profile-view-infos>div:nth-of-type(2) a:hover{
    
    background-color:#208052;
    transition: .4s ease;
 }
 .profile-view-infos>div:nth-of-type(2)>div>div{
    line-height: 23px;
 }
 .profile-view-infos>div:nth-of-type(2)>div>div>p{
    font-size: 14px;
    font-weight: 600;
    word-spacing: 5px;
    color: rgb(198, 198, 198);
 }
 .profile-view-infos>div:nth-of-type(2)>div>div>span{
    padding: 10px;
    background-color: #eeeeee;
    
    font-size: 14px;
    font-weight: bold;
 }
 .profile-view-about{
    box-shadow: 0px 0px 4px rgb(225, 225, 225);
    border-radius: 10px;
    padding: 50px;

 }
 .profile-view-about h4{
    margin-bottom: 14px;
 }
 .about-profile-page{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-weight: bold;
    font-size: 14px;
    color: var(--terce-color);

 }
.about-profile-page p{
line-height: 26px;
}
.about-profile-page>p:nth-child(2){
    height: 110px;
    overflow:hidden;
    transition-property: height .5s ease;
}
.shadow-about{
    position: absolute;
    width: 100%;
    height: 30px;
    background: linear-gradient(0deg, rgba(255,255,255,0.8183648459383753) 55%, rgba(255,255,255,0.2861519607843137) 100%); bottom: 0;
}
.read_more{
    background-color: var(--quatro-color);
margin-top: 20px;
    border: none;
    padding: 8px 18px;
    font-weight: bold;
    border-radius: 4px;
}
.read_more:hover{
    transition: .5s ease;
    background-color:#bebebe;

}
.At,.vr,.nv{
    font-size: 11px;
    color: white;
    border-radius: 5px;
    padding: 5px;
}
.vr{
    background-color: #00d56b;
}
.At{
    background-color: rgb(226, 147, 1);
}
.nv{
    background-color: rgb(205, 0, 0);
}
.profile-bl-user .profile{
    display: none;
}
.elem-course nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    margin-top: 4%;

}

.elem-course nav ul li{
    text-align: center;
    width: 100%;
    padding-block: 15px;
    cursor: pointer;
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;
    border-bottom: #eeeeee 2px solid;

}
.elem-course nav ul li.active{
    border-bottom: #1ca965 4px solid;
    color:#1ca965


}
.element-appears{
display: block;
}

.course{
    position: relative;
    box-shadow: 0px 0px 20px gainsboro;
    overflow: hidden;
}
.course a{
    text-decoration: none;
    color:#163568;
    font-weight: bold;
}
.course .desc-prof>a{
    display: block;
    height: 250px;
    overflow: hidden;
}
.course .desc-prof>a:hover img{
    transform: scale(1.3);
    transition: .5s cubic-bezier(0.165, 0.84, 0.44, 1);

}
.desc-prof>div{
    padding: 15px 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.alert {
    position: absolute;
    top: 0;
    padding: 5px;
    width: 8rem;
    font-size: 15px;
    text-align: center;

}
.wait-decision{
background-color: rgba(255, 221, 159, 0.905);
}
.wait-decision i{
    color: orange;
}
.decision-verified{
    background-color: rgb(156, 255, 159);
}
.decision-verified i{
    color: green;
}

.decision-notverified{
    background-color: rgb(255, 156, 156);
}
.decision-notverified i{
    color: red;
}



.course .name{
    font-size: 20px;
}
.course .img{
width: 100%;
height: 250px;
object-fit: cover;
}

.course .price{
padding: 8px 10px;
background-color: #bbffdd;
color: green;
border-radius: 5px;
font-weight: bold;
font-size: 15px;
}
.allcourse .description{
    height: 52px;
    overflow: hidden;
    font-size: 15px;
}
.allcourse .description,.allcourse .user{
    color: #878787;
}
.allcourse hr{
    border:1px solid #e3e3e3;
}
.allcourse{
    margin-top: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px

}
.allcourse .ProfilePicture{
    width: 40px ;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.allcourse .profilepresent div{
display: flex;
align-items: center;
gap: 10px;
}


/*logout and delete */

.logout,.supp,.annuler,
.delUsersSubmit{
padding: 10px 20px;
outline: none;
border: none;
border-radius: 5px;
color: white;
margin-top: 10px;
}
.logout{
    background-color: var(--link-hover);

}
.logout:hover{
    background-color: var(--green-hover);
    transition: .5s ease;

}
.supp{
    background-color: rgb(200, 0, 0);
}
.supp:hover{
    transition: .5s ease;
    background-color: rgb(142, 0, 0);
}
.popup{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
z-index: 40;
background-color: #07224e52;
}
.bloc{
    
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 30rem;
    height: 20rem;
    padding: 25px;
    background-color: #163568;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #032760a0;
}
.bloc p{
    margin-top: 100px;
}
.bloc div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 5px;
   
  
}
.annuler{
background-color: white;
color: black;
}
.delUsersSubmit {
background-color: #1ca965;
}


/*responsive */

@media screen and (max-width:1189px){
   
    header>div:first-child,
    header>div:nth-child(2)>div:first-child,
    .menu{
        padding-inline: 40px;
    }
    .container{
        padding-inline: 40px;
    }
    
}

@media screen and (max-width:1050px){
    .img-bl,.nav-contact,.menu ul,.hide{
        display: none;
    }
    .login{
        height: 100vh;
    }
    .form{
        padding-inline: 10px;
        width: 100%;
    }
    .login-logo-connect p{
margin-bottom: 30px;
    }
   
    .container{
        padding-inline: 10px;
    }
    #form_course{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .bl-nav{
        display:flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
    }
    
    .bl-nav .logo img{
        width:100%;
        height: 60px;
    }
    .menu{
        flex-direction: row-reverse;
        background-color: white;
        padding-inline: 7px;
        gap: 10px;
    }
    header>div:nth-child(2)>div:first-child{
        padding-inline: 7px;
        padding-block: 8px;

    }
    header>div:first-child p{
        display: none;
    }    
    .bg-uplad {
        background-position:center;
        background-attachment:local;
        background-size: cover;
        width: 100%;
        height: 30vh;
    }
    .menu-hambuger{
        display: flex;
        flex-direction: column;
        align-items:end ;
        gap: 8px;
    }
    .bg-uplad div{
        left: 5%;
    }

    .bg-uplad p{
        font-size: 30px;
    }
    .infos-general p{
        font-size: 18px;
    }
    .allcourse{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width:640px){
    .profile-view-infos>div:first-child img{
        width: 100px;
        height: 100px;
        top: 60px;
        transform: translateX(-50%);
        left: 50%;
     }
    .profile-view-infos>div:first-child i{
        
        top: 60px;
        left: 55%;
     }
     .profile-view-infos>div:nth-of-type(2){
        margin: 10px;
        justify-content:initial
     }
     .profile-view-infos>div:nth-of-type(2) a{
         font-size: 15px;
     }
     .profile-view-about{
        
        padding:20px ;
    
     }
     .allcourse{
        grid-template-columns: repeat(1,1fr);
    }

    .bloc{
width: 24rem;
height: 15rem;

    }
    .bloc p{
        margin-top: 40px;
    }
}

@media screen and (max-width:430px){
    .container{
        padding-inline: 8px;
    }

    #form_course  .submit{
        width: 100%;
    }
    
    .bloc{
        width: 18rem;
    }
        
    
}



